.dd-criteria-list {
  position: absolute;
  background: var(--color-white-primary);
  width: 255px;
  max-height: 192px;
  border-radius: 10px;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  margin-top: 1.7rem;
}

.criteria {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.312rem;
  color: var(--color-gray-accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.4rem;
  padding-block: 1.2rem;
  border-bottom: 1px solid rgba(58, 67, 116, 0.15);
}

.criteria:hover {
  color: var(--color-purple);
}

.criteria:last-child {
  border: none;
}

.current-criteria {
  color: var(--color-purple);
}

.tick {
  display: none;
}

.current-criteria .tick {
  display: inline;
}
