.suggestion-details__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13rem;
  padding: 2.4rem;
}

.suggestion-details__nav .back-btn {
  margin: 0;
  padding: 0;
}

.nav-btn--container {
  max-width: 119px;
}
